<?xml version="1.0"?>
<launch>

    <arg name="markerId" default="582"/>
    <!-- <arg name="markerSize" default="0.0247"/>-->
    <arg name="markerSize" default="0.150"/>
    <!--<arg name="markerSize" default="0.139"/>-->

   <include file="$(find aruco_ros)/launch/aruco_realsense2_result.launch">
        <arg name="markerId" default="$(arg markerId)"/>
        <arg name="markerSize" default="$(arg markerSize)"/>
    </include>
    
    <node pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" name="Robotiq2FGripperRtuNode"  args="/dev/robotiq" required = "true">
    </node>

 

  
  <node pkg="action_tset1" type="client_action07.py" name="client_action07" output="screen" required = "true">
    </node>
  <node pkg="action_tset1" type="server_action07.py" name="server_action07" output="screen" required = "true">
    </node>
     <!--<node pkg="image_view" type="image_view" name="image_view" args="image:=/aruco_single/result">
    </node>-->


</launch>
